# tiré de https://github.com/navdeep-G/samplemod/blob/master/.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IPython Notebook
.ipynb_checkpoints

# VSCode
.vscode

# Distribution / packaging
*.egg-info/
*.egg
dist/